@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

header {
    background-color: rgb(247, 164, 10);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color:rgb(49, 48, 47);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: rgb(49, 48, 47);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color:rgb(250, 248, 248);
    font-weight: bold;
    text-shadow: #FC0 1px 0 10px;
}
section {
    padding: 100px 200px;
}
.main {
    width: 100;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1188&q=80) 
    no-repeat
    ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color:beige;
    font-size: 1.6em;
    font-weight: 500;
    text-shadow: orangered 0px 0 4.2px;
}
.main h2 span {
    color: orangered;
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: beige;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: beige;
    background-color: orangered;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:  0.9365em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: rgb(255, 136, 0);
    transform: scale(1.1);
}
.social-icons a {
    color: beige;
    font-size: 2.2em;
    padding: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px red;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #FC0;
    width: 21.25em;
    box-shadow: 0px 6px 25px rgba(49 48 47 / 15%); 
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}
.icon {
    color: orangered;
    font-size: 8em;
    text-align: center;
    text-shadow: rgba(252, 243, 210, 0.774) 1px 0 10px;


}
.info {
    text-align: center;
}
.info h3 {
    color: rgb(49, 48, 47);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}

.projects {
    background-color: rgb(49, 48, 47);

}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: beige;
    border: 5px solid beige;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
    text-decoration: underline;
    font-weight: bold;
}
.project-card:hover .project-image {
    opacity: 0.8;
}
.project-image img {
    width: 100%
}
.project-info {
    padding: 1em;
}
.project-category {
    font-size: 0.8em;
    color: rgb(49, 48, 47);
}
.project-title   {
    display: flex;
    justify-content: space-between;
    text-decoration: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color:darkorange;
}
.more-details:hover {
    color: orangered;
}
.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: rgb(49, 48, 47);
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: rgba(49, 48, 47);
    color: #fff;
    padding:7px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: orange;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:642px){
    body {
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.8em;
    }
}

@media (max-width:320px){
    body{
        font-size: 8px;
    } 
}
@media (max-width:560){
    body {
        font-size: 10px;
    }
}